$light-gray-color: #e0e0e0;

.strength-section {
  height: 10px;
  width: calc(100% - 28px);
  border-radius: 25px;
  margin: 0 auto;
  background-color: lightgray;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
