<section>
  <div class="strength-wrapper">
    <div class="show-wrapper">
      <input
        class="strength-input"
        type="{{ showPassword ? 'text' : 'password' }}"
        placeholder="Enter Password"
        (input)="checkPasswordStrength($event)"
        [(ngModel)]="password"
      />
      <button
        class="strength-button"
        [ngClass]="{
          'yellow-button': !showPassword,
          'blue-button': showPassword
        }"
        (click)="togglePasswordVisibility()"
      >
        {{ showPassword ? "Hide" : "Show" }} Password
      </button>
    </div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': passwordStrengthColors[0] }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': passwordStrengthColors[1] }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': passwordStrengthColors[2] }"
    ></div>
  </div>
</section>
