$blue-color: blue;
$light-gray-color: #e0e0e0;
$medium-gray-color: #ccc;

.strength-wrapper {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    }

    .strength-section {
        height: 10px;
        width: calc(100% - 28px);
        border-radius: 25px;
        margin: 0 auto;
        background-color: lightgray;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
